.signup{
    background-color:#F8F8F8;
    margin: 5px 0;
    padding: 40px 0;
}
.signupCard{
    background-color:#FFFFFF;
    margin: 0 280px;
    border-radius: 15px;
    display: flex;
    box-shadow: 0 0 15px rgb(202, 202, 201);
    padding: 40px 0;
}
.signupCard img{
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
}

.signupForm{
    padding: 40px 50px;
    margin-left:70px ;
    box-shadow: 0 0 15px rgb(250, 235, 244);
}
.signupForm h2{
    font-size: x-large;
    font-weight: 700;
    letter-spacing: 1px;
}
.signupForm h4{
    font-size: medium;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
.signupForm input{
    padding: 6px 50px 6px 15px;
    border: 0.5px solid rgb(60, 60, 60);
    border-radius:5px;
    margin-top: 3px;
    color: black;
}
.signupbtn1{
    width: 250px;
    border: 0.5px solid rgb(60, 60, 60);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 6px 0;
    background-color: #f676ba;
}
.signupForm hr{
    margin-top: 10px;
    font-weight: 100;
    color: #fad5e9;
}
.signupForm p{
    margin-left: 40px;
    margin-top: 10px;
}
.signupbtn2{
    width: 250px;
    border: 0.5px solid rgb(60, 60, 60);
    border-radius: 10px;
    margin-top: 8px;
    padding: 6px 0;
    background-color: #f676ba;
}
